---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

//for Sidebar TOC
// div.post-content > #markdown-toc {float:right;width:30%;max-width:320px;margin-top:-100px;}
// div.post-content > #markdown-toc {list-style:none;padding-left:0;margin-left:0;}
div.wrapper {max-width:-webkit-calc((800px - (30px * 2)) * 10 / 7);margin-left:auto;}
div.wrapper {max-width:calc((800px - (30px * 2)) * 10 / 7);margin-left:auto;}
div.post-content > table,hr,p,div.highlight,ul {width:65%;max-width:800px;}
// div.post-content > #markdown-toc {width:100%;max-width:initial;max-width:auto;}
div.post-content > #markdown-toc {float:right;width:30%;max-width:320px;margin-top:-100px;}
div.post-content > #markdown-toc {list-style:none;padding-left:0;margin-left:0;}

@include media-query($on-palm) {
    div.post-content > #markdown-toc {float:none;width:auto;max-width:initial;max-width:auto;margin-top:0;}
    div.post-content > #markdown-toc {list-style:none;padding-left:0;margin-left:0;}
    div.wrapper {max-width:-webkit-calc(800px - (30px * 2));margin-left:auto;}
    div.wrapper {max-width:calc(800px - (30px * 2));margin-left:auto;}
    div.post-content > table,hr,p,div.highlight,ul {width:auto;max-width:initial;max-width:auto;}
}

//for indent contents
p {
    margin-left:8px;
}

//for h tag
.post-content {
    margin-bottom: $spacing-unit;
  
    h1 {
      @include relative-font-size(2.25);
  
      @include media-query($on-laptop) {
        @include relative-font-size(2);
      }
  
      border-left: solid 4px #555;
      padding-left: 8px;
      margin-top:8px;
    }
  
    h2 {
      @include relative-font-size(1.75);
  
      @include media-query($on-laptop) {
        @include relative-font-size(1.75);
      }
    }
  
    h3 {
      @include relative-font-size(1.5);
  
      @include media-query($on-laptop) {
        @include relative-font-size(1.375);
      }
    }
  
    h4 {
      @include relative-font-size(1.25);
  
      @include media-query($on-laptop) {
        @include relative-font-size(1.125);
      }
    }
  }

//for Nav button
.site-nav {
    float: right;
    line-height: $base-line-height * $base-font-size * 2.25;
  
    .nav-trigger {
        display: none;
    }
  
    .menu-icon {
      display: none;
    }
  
    .page-link {
      color: $text-color;
      line-height: $base-line-height;
  
      // Gaps between nav items, but not on the last one
      &:not(:last-child) {
        margin-right: 20px;
      }
    }
  
    
      position: absolute;
      top: 9px;
      right: $spacing-unit / 2;
      background-color: $background-color;
      border: 1px solid $grey-color-light;
      border-radius: 5px;
      text-align: right;
  
      label[for="nav-trigger"] {
        display: block;
        float: right;
        width: 36px;
        height: 36px;
        z-index: 2;
        cursor: pointer;
      }
  
      .menu-icon {
        display: block;
        float: right;
        width: 36px;
        height: 26px;
        line-height: 0;
        padding-top: 10px;
        text-align: center;
  
        > svg {
          fill: $grey-color-dark;
        }
      }
  
      input ~ .trigger {
        clear: both;
        display: none;
      }
  
      input:checked ~ .trigger {
        display: block;
        padding-bottom: 5px;
      }
  
      .page-link {
        display: block;
        padding: 5px 10px;
  
        &:not(:last-child) {
          margin-right: 0;
        }
        margin-left: 20px;
      }
    
  }